<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shek.smartLearning.mapper.EnWordsMapper">
  <resultMap id="BaseResultMap" type="org.shek.smartLearning.pojo.EnWords">
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="translation" jdbcType="VARCHAR" property="translation" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    word, translation
  </sql>
  <select id="selectByExample" parameterType="org.shek.smartLearning.pojo.EnWordsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from enwords
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="org.shek.smartLearning.pojo.EnWords">
    insert into enwords (word, translation)
    values (#{word,jdbcType=VARCHAR}, #{translation,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.shek.smartLearning.pojo.EnWords">
    insert into enwords
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="word != null">
        word,
      </if>
      <if test="translation != null">
        translation,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="word != null">
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="translation != null">
        #{translation,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>